body{
  background-color: #FAD4D4;
  margin: 0;
}
.Top {
  padding-top: 20px;
  color: #F47C7C;
  font-family:Satisfy;
}
.Middle1 {
  padding-top: 50px;
  color: #765b60;
  font-family: Times New Roman;
  width: 40%;
}
.bio {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 25px;
  font-size: 17px;
}
.Middle2 {
  padding-top: 5px;
  color:#765b60;
  width: 65%;
}
ul {
  position: relative;
  text-align: left;
}
.Work {
  font-size: 25px;
  font-family: Satisfy;
  margin-bottom: 0;
  position: relative;
  bottom: 20px;
}
.w {
  position: relative;
  bottom: 35px;
}
.mainlist {
  line-height: 25px;
  font-size: 17px;
}
.comp {
  height: 300px;
}
.rule1 {
  width: 10%;
}
.rule2 {
  position: relative;
  bottom: 35px;
  width: 6%;
}

.Middle3 {
  color: #765b60;
  width: 60%;
}
.achieve {
  font-size: 25px;
  font-family: Satisfy;
  position: relative;
  bottom: 45px;
}
.achievements {
  height: 200px;
}
.a {
  position: relative;
  bottom: 95px;
}
.rule3 {
  position: relative;
  bottom: 75px;
  width: 6.4%;
}
hr {
  background-color: #FAD4D4;
  border-style: none;
  border-top-style: dotted;
  border-color: #ffaeaa;
  border-width: 7px;
}
.heading {
  margin-top: 0;
  font-size: 50px;
}
.heading2 {
  font-size: 25px;
}
.cloud {
  height: 100px;
}
.top {
  position: relative;
  left: 350px;
}
.top2 {
  height: 30px;
  position: relative;
  right: 300px;
  bottom: 50px;
}
.top3 {
  height: 30px;
  position: relative;
  left: 550px;
  bottom: 15px;
}
.middle {
  height: 75px;
  position: relative;
  right: 600px;
  top: 80px;
}
.middle2 {
  height: 50px;
  position: relative;
  left: 525px;
  bottom: 70px;
}
.bottom {
  position: relative;
  right: 275px;
  top: 10px;
}
.bottom2 {
  height: 20px;
  right: 200px;
  top: 100px;
}
.mountain {
  height: 710px;
}
