body{
  background-color: #FAD4D4;
  margin: 0;
}
div {
  padding-top: 20px;
  color: #F47C7C;
}
h1 {
  margin-top: 0;
}
.cloud {
  height: 100px;
}
.top {
  padding-left: 300px;
}
.bottom {
  padding-right: 260px;
  padding-top: 10px;
}
.mountain {
  height: 700px;
}
