body{
  background-color: #FAD4D4;
  margin: 0;
}
div {
  padding-top: 20px;
  color: #F47C7C;
}
h1 {
  margin-top: 0;
}
p {
  font-family: serif;
}
.cloud {
  height: 100px;
}
.top {
  position: relative;
  left: 350px;
}
.top2 {
  height: 30px;
  position: relative;
  right: 300px;
  bottom: 50px;
}
.top3 {
  height: 30px;
  position: relative;
  left: 550px;
  bottom: 15px;
}
.middle {
  height: 75px;
  position: relative;
  right: 600px;
  top: 80px;
}
.middle2 {
  height: 50px;
  position: relative;
  left: 525px;
  bottom: 70px;
}
.bottom {
  position: relative;
  right: 275px;
  top: 10px;
}
.bottom2 {
  height: 20px;
  right: 200px;
  top: 100px;
}
.mountain {
  height: 710px;
}
